---
title: Страницы достопримечательности - EG
navigation: true
nav: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<section class="top">
        <div class="container">
            {% include "partials/_navigation.html" %}
        </div>
    </section>

	<section class="sight">
        <div class="sight__top" style="background-image: url(img/sight/top_bg.jpg)"></div>
        <div class="container">
            <div class="sight__wrap">

                {# content #}
                <div class="sight__content">
                    <h1 class="sight__title">Великие династии Ватикана</h1>
                    <p>Папы Римские эпохи Ренессанса: они несли смерть и разрушения, их армии 
                    сметали с лица земли армии своих противников, их казна ломилась от золота, 
                    их любили прекраснейшие женщины мира, для них трудились величайшие гении 
                    искусства и науки. Их жизнь по роскоши и силе власти превосходила королевскую, 
                    вот только их престол, теперь украшенный драгоценными каменьями, изначально 
                    был простой деревянной кафедрой рыбака Петра, смиреннейшего из апостолов.</p>

                    <p>Спустя века мы продолжаем завороженно произносить имена: Борджиа, Медичи, 
                    Делла Ровере, Киджи. Кем же они были? Так ли уж сильно грешили или может 
                    быть это очередной фарс историков, желающих опорочить великих Пап? Где найти 
                    правду?</p>

                    <p>По опыту мы знаем, что достаточно заглянуть в дом, чтобы узнать невероятно много 
                    о привычках, образе жизни, чаяниях и увлечениях его обитателей. Поэтому, на этой 
                    экскурсии мы с вами отправимся в покои, где жили Папы из знаменитых династий 
                    и попробуем, шагнув чуть дальше обычного описания роскошных фресок, 
                    украшающих их стены, понять, кем же они были, эти Короли Ренессанса 
                    и в то же время скромные наследники апостола Петра.</p>

                    <img src="img/sight/img1.jpg" alt="" />

                    <p>Папы Римские эпохи Ренессанса: они несли смерть и разрушения, их армии 
                    сметали с лица земли армии своих противников, их казна ломилась от золота, 
                    их любили прекраснейшие женщины мира, для них трудились величайшие гении 
                    искусства и науки. Их жизнь по роскоши и силе власти превосходила королевскую, 
                    вот только их престол, теперь украшенный драгоценными каменьями, изначально 
                    был простой деревянной кафедрой рыбака Петра, смиреннейшего из апостолов.</p>

                    <img src="img/sight/img2.jpg" alt="" />

                    {# guide #}
                    <div class="sight__guide sguide">
                        <div class="sguide__title">Возможные гиды</div>
                        <div class="sguide__wrap">
                            {% for i in [1,2,3,4] %}
                            <div class="sguide__item">
                                <a href="" class="sguide__photo">
                                    <img src="img/sight/photo.jpg" alt="" />
                                </a>
                                <a href="" class="sguide__name">Евгения Кулишенко</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# end guide #}
                </div>
                {# end content #}
            </div>
        </div>
    </section>

	{% include "partials/_footer.html" %}

{% endblock %}
