<div class="comment">
    <div class="comment__wrap">
        <div class="comment__photo">
            <img src="img/main/photo.jpg" alt="" />
        </div>
        <div class="comment__description">
            <div class="comment__title">Айшат</div>
            <div class="comment__subtitle">01.01.2019</div>
            <div class="comment__rating"></div>
            <div class="comment__text">
                Первый мой приезд в Рим был очень неожиданным, совершенно случайным… Теперь я здесь живу и это уже 
                неслучайно. Город оказался совершенно своим, родным и светлым. Застольные песни, культура винограда, 
                застывшие во времени целые кварталы – все это пришлось мне по душе и очень кстати. Сейчас...
            </div>
            {% if admin == true %}
                <div class="admin__btns admin__btns--comment">
                    <a href="" class="admin__btn admin__btn--public">Опубликовать</a>
                    <a href="" class="admin__btn admin__btn--edit">Редактировать</a>
                    <a href="" class="admin__btn admin__btn--delete">Удалить</a>
                </div>
            {% else %}
                <a href="" class="comment__more">Подробнее</a>
            {% endif %}
        </div>
    </div>
</div>