<div class="mcontent__guide guide">
    <div class="guide__wrap">
        <div class="guide__photo">
            <img src="img/main/photo.jpg" alt="" />
        </div>
        <div class="guide__description">
            <div class="guide__title">Айшат</div>
            <div class="guide__subtitle">1 экскурсия</div>
            <div class="guide__rating"></div>
            <div class="guide__text">
                Первый мой приезд в Рим был очень неожиданным, совершенно случайным… Теперь я здесь живу и это уже 
                неслучайно. Город оказался совершенно своим, родным и светлым. Застольные песни, культура винограда, 
                застывшие во времени целые кварталы – все это пришлось мне по душе и очень кстати. Сейчас...
            </div>
            <a href="" class="guide__more">Подробнее</a>
        </div>
    </div>
</div>