<div class="guide-card">
    <div class="guide-card__pf">
        <div class="guide-card__photo">
            <img src="img/main/photo.jpg" alt="" />
        </div>
        <div class="guide-card__fio">Евгения Кулишенко</div>
    </div>
    <div class="guide-card__title">Услуги:</div>
    <div class="guide-card__description">
        Индивидуальные экскурсии, 
        сопровождение на деловых 
        встречах, организация 
        конференций, устный перевод
    </div>
    <div class="guide-card__title">Контакты:</div>
    <div class="guide-card__contact">
        <div class="guide-card__contact-item">
            <svg class="guide-card__contact-icon"><use xlink:href="img/sprite.svg#icon-main"></use></svg>
            Рим
        </div>
        <div class="guide-card__contact-item">
            <svg class="guide-card__contact-icon"><use xlink:href="img/sprite.svg#icon-main"></use></svg>
            + 3 934 0710 45 825
        </div>
        <div class="guide-card__contact-item">
            <svg class="guide-card__contact-icon"><use xlink:href="img/sprite.svg#icon-main"></use></svg>
            kulishenko@libero.it
        </div>
        <div class="guide-card__contact-item">
            <svg class="guide-card__contact-icon"><use xlink:href="img/sprite.svg#icon-main"></use></svg>
            kulishenko21
        </div>
    </div>
</div>